# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# coverage / tests
coverage/
*.tsbuildinfo

# prisma
apps/api/prisma/*.db

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
